[Unit]
Description=GNOME RFKill support service
After=graphical.target

[Service]
Slice=session.slice
Type=dbus
ExecStart=/usr/libexec/gsd-rfkill
Restart=on-failure
BusName=org.gnome.SettingsDaemon.Rfkill

[Install]
WantedBy=default.target
